body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #f0a500; /* Main color */
    color: white;
    text-align: center;
    padding: 50px 0;
}

section {
    padding: 20px;
    text-align: center;
}

#success-stories {
    background-color: white; /* Secondary color */
    padding: 40px 0;
}

footer {
    background-color: #3c763d; /* Footer color */
    color: white;
    text-align: center;
    padding: 20px 0;
}
